<app-header> </app-header>
<div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <h2>Order History</h2>
            <br>
            <div [ngClass]="['row p-1 my-2 shadow order' ]">
                <div [ngClass]="['col-2  order p-1']">
                    <img src="../assets/images/FloralTshirt4.jpg " [ngClass]="['images']">
                </div>
                <div class="col-4">
                    <h5>Floral Tshirt</h5>
                    <p>color: Red</p>
                    <br><br><br><br>
                    <p>Ordered [Expected Delivery on 11 june]</p>
                </div>
                <div class="col-3">
                    <p> Quantity: 1</p>
                    <br><br><br><br><br>
                    <p [ngClass]="['text-right ']"><button [ngClass]="[' btn btn-primary']">Order Details</button></p>
                </div>
                
    
                <div class="col-3">
                    <p><b>Rs. 2000</b></p>
                    <p>[ including all taxes ]</p>
                    <br><br><br>
                    <p [ngClass]="['text-right ']"><button [ngClass]="[' btn btn-primary']">Download Invoice</button></p>
                </div>
    
    
            </div>
        </div>
        <div class="row">
            
            <div [ngClass]="['row p-1 my-2 shadow order' ]">
                <div [ngClass]="['col-2  order p-1']">
                    <img src="../assets/images/FloralTshirt4.jpg " [ngClass]="['images']">
                </div>
                <div class="col-4">
                    <h5>Floral Tshirt</h5>
                    <p>color: Red</p>
                    <br><br><br><br>
                    <p>Ordered [Expected Delivery on 11 june]</p>
                </div>
                <div class="col-3">
                    <p> Quantity: 1</p>
                    <br><br><br><br><br>
                    <p [ngClass]="['text-right ']"><button [ngClass]="[' btn btn-primary']">Order Details</button></p>
                </div>
                
    
                <div class="col-3">
                    <p><b>Rs. 2000</b></p>
                    <p>[ including all taxes ]</p>
                    <br><br><br>
                    <p [ngClass]="['text-right ']"><button [ngClass]="[' btn btn-primary']">Download Invoice</button></p>
                </div>
    
    
            </div>
        </div>
        <div class="row">
           
            <div [ngClass]="['row p-1 my-2 shadow order' ]">
                <div [ngClass]="['col-2  order p-1']">
                    <img src="../assets/images/FloralTshirt4.jpg " [ngClass]="['images']">
                </div>
                <div class="col-4">
                    <h5>Floral Tshirt</h5>
                    <p>color: Red</p>
                    <br><br><br><br>
                    <p>Ordered [Expected Delivery on 11 june]</p>
                </div>
                <div class="col-3">
                    <p> Quantity: 1</p>
                    <br><br><br><br><br>
                    <p [ngClass]="['text-right ']"><button [ngClass]="[' btn btn-primary']">Order Details</button></p>
                </div>
                
    
                <div class="col-3">
                    <p><b>Rs. 2000</b></p>
                    <p>[ including all taxes ]</p>
                    <br><br><br>
                    <p [ngClass]="['text-right ']"><button [ngClass]="[' btn btn-primary']">Download Invoice</button></p>
                </div>
    
    
            </div>
        </div>
        <div class="row">
           
          
            <div [ngClass]="['row p-1 my-2 shadow order' ]">
                <div [ngClass]="['col-2  order p-1']">
                    <img src="../assets/images/FloralTshirt4.jpg " [ngClass]="['images']">
                </div>
                <div class="col-4">
                    <h5>Floral Tshirt</h5>
                    <p>color: Red</p>
                    <br><br><br><br>
                    <p>Ordered [Expected Delivery on 11 june]</p>
                </div>
                <div class="col-3">
                    <p> Quantity: 1</p>
                    <br><br><br><br><br>
                    <p [ngClass]="['text-right ']"><button [ngClass]="[' btn btn-primary']">Order Details</button></p>
                </div>
                
    
                <div class="col-3">
                    <p><b>Rs. 2000</b></p>
                    <p>[ including all taxes ]</p>
                    <br><br><br>
                    <p [ngClass]="['text-right ']"><button [ngClass]="[' btn btn-primary']">Download Invoice</button></p>
                </div>
    
    
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>