
 <app-header> </app-header>
<div class="container-fluids p-5"> 
    <div class="row">
          <div class="col-md-12 ">
            <img src="../assets/images/BestSeller.jpg" width="100%" height="500px"> 
            
          </div>
    
    </div>

    <div class="row py-2"> 
        <div class="col-md-3"> 

        </div>

        <div class="col-md-6 px-5"> 
             <p style="font-size: 25px; text-align: center;"><b>Best Seller of the Season</b></p>
             <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati asperiores ducimus repellat cumque odio impedit nihil quos voluptas, inventore omnis quas magnam iste placeat iure perspiciatis a alias, molestiae eius.</p>
        </div> 

        <div class="col-md-3"> 

        </div>
    </div>
</div>
 
<div class="container-fluids p-5 "> 
    <div class="row pb-3 text-center">
          <div class="col-md-3  ">
            <img src="../assets/images/Dress1.jpg" width="90%" height="300px"> 
            <p> Product Name</p>
            <p> Price: $ 0.00 </p>
          </div>
          <div class="col-md-3 ">
            <img src="../assets/images/Dress3.jpg" width="90%" height="300px"> 
            <p> Product Name</p>
            <p> Price: $ 0.00 </p>
          </div>
          <div class="col-md-3 ">
            <img src="../assets/images/Dress4.jpg"  [ngClass]="['products']"> 
            <p> Product Name</p>
            <p> Price: $ 0.00 </p>
          </div>
          <div class="col-md-3">
            <img src="../assets/images/Dress5.jpg"  [ngClass]="['products']"> 
            <p> Product Name</p>
            <p> Price: $ 0.00 </p>
          </div>
    
    </div>
</div>


<div class="container-fluids p-5"> 
    <div class="row pb-3 text-center">
          <div class="col-md-3 ">
            <img src="../assets/images/Tshirt1.jpg"  [ngClass]="['products']"> 
            <p> Product Name</p>
            <p> Price: $ 0.00 </p>
            
          </div>
          <div class="col-md-3 ">
            <img src="../assets/images/Tshirt2.jpg"  [ngClass]="['products']"> 
            <p> Product Name</p>
            <p> Price: $ 0.00 </p>
          </div>
          <div class="col-md-3 ">
            <img src="../assets/images/Tshirt3.jpg"  [ngClass]="['products']"> 
            <p> Product Name</p>
            <p> Price: $ 0.00 </p>
          </div>
          <div class="col-md-3">
            <img src="../assets/images/Tshirt4.jpg"  [ngClass]="['products']">  
            <p> Product Name</p>
            <p> Price: $ 0.00 </p>
          </div>
    
    </div>
</div>  
<div class="text-center">
   
            <button  class="btn btn-primary mb-5" type="submit btn btn-primary"  style="width: 10% ;"> VIEW ALL</button>
       
       
   
</div>



<div class="continer-fluid px-5">
    <div class="row my-2">
        <div class="col-md-12" style="height: 400px;width: 100%; background-color: rgba(0, 119, 255, 0.2);">
             <br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p style="text-align: center; font-size: 25px;"><b>Lorem ipsum dolor sit amet.</b></p>

        </div>

    </div>

</div>
<br><br>

<div class="continer-fluid px-3">
    <div class="row m-3" style="height: 300px;">
        
          <div class="col-md-4 mr-2 text-center " >
            <div class='pr-2 'style="height: 300px;">
              <img src="../assets/images/DenimJacket1.jpg" [ngClass]="['JDW']">
               <p><b>Jackets</b> </p>
            </div>
          </div>
          <div class="col-md-4 mr-2 text-center " >
            <div class='pr-2' style="height: 300px;">
               <img src='../assets/images/Dress2.jpg' [ngClass]="['JDW']" > 
                <p><b>Dresses</b></p>
            </div>
          </div>
          <div class="col-md-4 mr-2 text-center " >
            <div class='pr-2 'style="height: 300px;">
              <img src="../assets/images/Watch1.jpg"  [ngClass]="['JDW']" >
              <p><b>Watches</b> </p>
            </div>
          </div>
    </div>

</div>

<br><br><br>



<div class="container-fluid px-5" >
    <div class="row">
        <div class="col-md-4 p-5 text-center">
               <img src="../assets/images/Customer1.jpg" alt="Avatar" [ngClass]="['Customer']">
               <p>Customer Name</p>
               <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, eveniet provident? Aliquam illum, ratione eligendi molestiae illo maiores provident consectetur. Debitis repudiandae ullam laborum, ratione reiciendis tenetur quisquam nobis laudantium.</p>
        </div>
        <div class="col-md-4 p-5 text-center">
          <img src="../assets/images/Customer2.jpg" alt="Avatar" [ngClass]="['Customer']">
          <p>Customer Name</p>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, eveniet provident? Aliquam illum, ratione eligendi molestiae illo maiores provident consectetur. Debitis repudiandae ullam laborum, ratione reiciendis tenetur quisquam nobis laudantium.</p>
        </div>
        <div class="col-md-4 p-5 text-center">
          <img src="../assets/images/Customer3.jpg" alt="Avatar" [ngClass]="['Customer']">
          <p>Customer Name</p>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, eveniet provident? Aliquam illum, ratione eligendi molestiae illo maiores provident consectetur. Debitis repudiandae ullam laborum, ratione reiciendis tenetur quisquam nobis laudantium.</p>
        </div>
        
    </div>
</div>
<app-footer> </app-footer>
